[submodule "third_party/OpenVolumeMesh"]
	path = third_party/OpenVolumeMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenVolumeMesh/OpenVolumeMesh.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/naxos"]
	path = third_party/naxos
	url = https://github.com/pothitos/naxos.git
